@model IEnumerable<CUEST_ACCESS.preguntas>

<p>@Html.ActionLink("Crear un nuevo cuestionario", "Create")</p>

<h2>Filtrar preguntas</h2>

@using (Html.BeginForm())
 {
    @Html.DropDownList("cuest", new SelectList(ViewBag.cuestionarios,"id","nombreCuestionario"), "-- Seleccione un examen --")

    <button type="submit">Buscar</button>
 }



@if (ViewBag.Error != null)
 {
    <p>@ViewBag.Error</p>
 }
 else if (Model != null && Model.Any())
 {
    <h3>Preguntas encontradas:</h3>

    <ul>
        @foreach (var pregunta in Model)
         {
            <li>@pregunta.descripcion</li>
         }
    </ul>
 }
